/* fonts */
.raleway-normal-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* primary style */
.primary-color{
    color: #4E47FF;
}
.text-color{
    color: #252432;
}
header{
   background-image: url(../Assets/Hero-bg.png);
}
/* Nav Style */
.signup-button, .btn-primary{
    width: 132px;
    height: 48px;
    padding: 10px 20px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 8px;
}
nav div a{
    text-decoration: none;
    
}

.logo{
    font-weight: bold;
    color: #4E47FF;
    font-size: 40px;
}

.nav-bar{
    display: flex;
    margin: 0px 150px;
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
}

/* banner section */
.banner h1{
    font-size: 65px;
    font-weight: bold;
    margin-top: 158px;
    margin-bottom: 20px;
}
.banner-content{
    margin: 309px 267.5px 152px 267.5px;
    text-align: center;
}

.banner{
    height: 698px;
    text-align: center;
    
}

/* body style */
body{
    background-color: #f3f6fd;

}
/* see it in action section addeed */
.see-it-in-action {
  display: flex;
  justify-content: center;
  padding: 100px 20px;
}

.see-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
}

.action-content {
  max-width: 500px;
  padding: 20px;
  text-align: left;
}

.see-it-in-action img {
  width: 400px;
  height: auto;
  border-radius: 48px;
}


.action-content h3{
    font-size: 42px;
    font-weight: bold;
}
.action-content p{
    font-size: 24px;
    font-weight: normal;
    color: #252432;
}
.live-button{
    height: 48px;
    width: 229px;
}

/* productive user section */

.productive-user{
    align-items: center;
    padding: 20px 100px;
}

.productive-user-content{
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 100%;
    align-items: center;
    border-radius: 24px;
    padding: 50px 142px;

}

.productive-user-details{
    padding-top: 40px;
    display: flex;
    text-align: center;
    gap: auto;
    justify-content: space-between;
}

.section-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.content-title h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.sub-title{
    font: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* review section */

.review-section{
    margin-left: 50px;
    margin-right: 50px;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.review-section-image{
    display: flex;
}
.review-title h2{
    color: #1E1E1E;
}
.review-section-details{
    background-color: #FFFFFF;
    border-radius: 14px;
    stroke: #F2EDED;
    height: 243px;
    width: 366px;
    padding: 24px;
}

.review-by{
    display: flex;
}
.review-by img{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    padding: 10px;
    margin-top: 12px;
}
.reviewer-name h2{
    padding-left: 10px;
    color: #757575;
    font-size: 16px;
    font-weight: 600;
}
.reviewer-name p{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
}

.review{
    display: flex;
    gap: 20px;
}